<%- include('../partials/html-head') %>
<%- include('../partials/nav', {user: user}) %>
    <h1>Update recipe</h1>
    <div class="centering-container">
        <form class="upsert-form" action="/update-recipe/<%= recipe._id %>?_method=PUT" method="post">
            <div class="upsert-name">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name" value="<%= recipe.name %>">
                </div>
            </div>
            <div>
                <h2>Categories:</h2>
                <div class="upsert-categories">
                    <% categories.forEach(category => { %>
                        <div class="upsert-category">
                            <label for="<%= category.name %>"><%= category.name %></label>
                            <input type="checkbox" name="categories" value="<%= category.name %>" id="<%= category.name %>" <%= recipe.categories.includes(category._id) ? 'checked':''  %>>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="upsert-description">
                <label for="description">Description: </label>
                <textarea name="description" id="description"><%= recipe.description.replace(/\\r?\\n/g, '\n') %></textarea>
            </div>
            <div class="upsert-servings-time">
                <label for="servings">Servings:</label>
                <input type="number" name="servings" min="1" value="<%= recipe.servings %>">
            </div>
            <div class="upsert-servings-time">
                <label for="time">Time:</label>
                <input type="text" name="time" value="<%= recipe.time %>">
            </div>
            <div class="upsert-ingredients-directions">
                <label for="ingredients">Ingredients: </label>
                <p>Separate each ingredient with a ";" leave last ingredient without a ";"</p>
                <textarea name="ingredients" id="ingredients"><%= recipe.ingredients.join(';\r\n') %></textarea>
            </div>
            <div class="upsert-ingredients-directions">
                <label for="directions">Directions: </label>
                <p>Separate each direction with a ";" leave last direction without a ";"</p>
                <textarea name="directions" id="directions"><%= recipe.directions.join(';\r\n') %></textarea>
            </div>
            <div class="upsert-submit">
                <button type="submit">Update</button>
            </div>
            <% if (error) { %>
                <p>Please make sure all fields are filled out.</p>
            <% } %>
        </form>
    </div>
</body>

</html>